<nav class="navbar-datacamp">
  <div class="container navbar-datacamp-container">
    <a href="">
      <%= image_tag "logo.png" %>
    </a>

    <div class="navbar-datacamp-pusher"></div>

    <%= link_to "Upload Image", new_upload_path, class: "navbar-datacamp-item navbar-datacamp-button btn" %>
  </div>
</nav>
