.navbar-datacamp {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  &-container {
    display: flex;
    height: 70px;
    align-items: center;
    img {
       width: 50px;
    }
  }
  &-pusher {
    flex: 1 1 auto;
  }
  &-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
  }
  &-link {
    color: #616668;
    font-size: 14px;
    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 20em;
    line-height: 40px;
    background-color: $brand-color-light;
    color: white;
    font-size: 14px;
    border: 2px solid $brand-color;

    &:hover {
      color: white;
      background: $brand-color;
      border-color: darken($brand-color, 10%);
    }
  }
}
